<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/navbar.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/listingView.css}" type="text/css">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap}"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">
    </script>
    <title>
        Home
    </title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbarDiv}">
</div>
<div th:if="${listing.isSold}" class="sold">
    <h1>This vehicle has been sold.</h1>
</div>
<div class="listing-details">
    <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div th:each="imageIndex : ${#numbers.sequence(1, fileNames.size())}"
                 class="carousel-item" th:classappend="${imageIndex == 1}? 'active'">
                <div class="image-container">
                    <img th:src="@{'/imagesListing/'+${listing.id}+'/img_'+${imageIndex}+'.png'}"
                         class="d-block w-100 listing-img" alt="Listing Image">
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel"
                data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true">
					</span>
            <span class="visually-hidden">
						Previous
					</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel"
                data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true">
					</span>
            <span class="visually-hidden">
						Next
					</span>
        </button>
    </div>
    <div class="listing-desc">
        <h2 th:text="${listing.title}">
        </h2>
        <p th:text="${listing.description}">
        </p>
        <p th:text="${listing.price}+' €'">
        </p>
        <p>
            Owner:
            <a class="title bold-link" th:href="@{/user/{userId}(userId=${listing.userId.userName})}" th:text="${listing.userId.userName}">
            </a>
        </p>
        <div th:if="${userID != null and userID != listing.userId.id}">
            <a class="button" th:href="@{/start-chat/{id}(id=${listing.id})}">
                Message seller
            </a>
        </div>
    </div>
    <div class="listing-specs">
        <h3>
            Specifications:
        </h3>
        <table>
            <tr>
                <td>
                    Brand
                </td>
                <td th:text="${specification.getBrand()}">
                </td>
            </tr>
            <tr>
                <td>
                    Model
                </td>
                <td th:text="${specification.getModel()}">
                </td>
            </tr>
            <tr>
                <td>
                    Manufacture Year
                </td>
                <td th:text="${specification.getManufactureYear()}">
            </tr>
            <tr>
                <td>
                    Gear Count
                </td>
                <td th:if="${specification.getGearCount()!=0}" th:text="${specification.getGearCount()}">
                </td>
            </tr>
            <tr>
                <td>
                    Drive Type
                </td>
                <td th:text="${specification.getDriveType()}">
                </td>
            </tr>
            <tr>
                <td>
                    Engine Type
                </td>
                <td th:text="${specification.getEngineType()}">
                </td>
            </tr>
            <tr>
                <td>
                    Engine Power
                </td>
                <td th:text="${specification.getEnginePower()}">
                </td>
            </tr>
            <tr>
                <td>
                    Shifter
                </td>
                <td th:text="${specification.getShifterType()}">
                </td>
            </tr>
            <tr>
                <td>
                    Consumption
                </td>
                <td th:text="${specification.getConsumption()+ ' L / 100 km'}">
                </td>
            </tr>
            <tr>
                <td>
                    AC
                </td>
                <td th:text="${specification.getAcType()}">
                </td>
            </tr>
            <tr>
                <td>
                    Kilometers travelled
                </td>
                <td th:text="${specification.getKilometersTravelled()}">
                </td>
            </tr>
            <tr>
                <td>
                    In Traffic Since
                </td>
                <td th:text="${specification.getInTrafficSince()}">
                </td>
            </tr>
            <tr>
                <td>
                    Car Shape
                </td>
                <td th:text="${specification.getBodyShape()}">
                </td>
            </tr>
            <tr>
                <td>
                    Door Count
                </td>
                <td th:text="${specification.getDoorCount()}">
                </td>
            </tr>
            <tr>
                <td>
                    Seat Count
                </td>
                <td th:if="${specification.getSeatCount()!=0}" th:text="${specification.getSeatCount()}">
                </td>
            </tr>
            <tr>
                <td>
                    Color
                </td>
                <td th:text="${specification.getColor()}">
                </td>
            </tr>
            <tr>
                <td>
                    Owner
                </td>
                <td th:text="${specification.getOwnerNo()}">
                </td>
            </tr>
            <tr>
                <td>
                    Extra Features
                </td>
                <td>
							<span th:unless="${exFeat.isEmpty()}">
								<span th:each="feature : ${exFeat}">
									<span th:text="${feature}">
										-
									</span>
									<br>
								</span>
							</span>
                    <span th:if="${exFeat.isEmpty()}">
								/
							</span>
                </td>
            </tr>
            <tr>
                <td>
                    Additional Equipment
                </td>
                <td>
							<span th:unless="${addEquip.isEmpty()}">
								<span th:each="feature : ${addEquip}">
									<span th:text="${feature}">
										-
									</span>
									<br>
								</span>
							</span>
                    <span th:if="${addEquip.isEmpty()}">
								/
							</span>
                </td>
            </tr>
            <tr>
                <td>
                    Car Location
                </td>
                <td th:text="${specification.getLocation()}">
                </td>
            </tr>
        </table>
    </div>
</div>
</body>

</html>