<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/navbar.css}" type="text/css">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap}" />
    <title>Log in to CarPazar</title>
</head>
<body class="logreg_body">
    <div th:replace="~{fragments/navbarLogin :: navbarDiv}"></div>
    <div id="form-div">
        <form action="../login" method="POST">
            <div th:if="${alert}" class="alert">
                <p class="alert_login" th:text="${alert}"></p>
            </div>
            <div th:if="${alert_ch_pass}" class="alert_ch_pass">
                <p class="alert_ch_pass" th:text="${alert_ch_pass}"></p>
            </div>

            <label for="username">E-mail/Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter e-mail or username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter password" required>

            <input type="submit" value="Log in" class="button_login">
            <hr>
            <a href="../recoverPassword" class="forgot">Forgotten password?</a>
        </form>
    </div>
</body>
</html>