<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/messages.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/navbar.css}" type="text/css">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap}" />
    <title>User</title>
</head>
<body>
    <div th:replace="~{fragments/navbar :: navbarDiv}"></div>

    <div class="a" th:if="${!listingPage.content.isEmpty()}">
        <ul>
            <li th:each="listing : ${listingPage.content}">
                <div class="b">
                    <div class="c">
                        <a th:text="${listing.title}" th:href="@{'/listingWithImages/'+${listing.id}}"></a>
                        <p th:text="${listing.specifications.kilometersTravelled + ' km'}">
                        <p th:text="'Price: ' + ${listing.price} + ' €'"></p>
                    </div>
                    <div class="listing_image">
                        <img class="listing_image_img" th:src="@{'/imagesListing/'+${listing.id}}" alt="Listing Image">
                    </div>
                    <a th:href="@{'/editListing/'+${listing.id}}" class="edit-button">Edit</a>
                    <a href="javascript:void(0);"
                       th:data-username="${listing.title}"
                       th:data-id="${listing.id}"
                       onclick="AopenConfirmationDialog(this.getAttribute('data-username'), this.getAttribute('data-id'))"
                       class="delete-button">Delete</a>

                </div>
            </li>
        </ul>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li th:each="pageNumber : ${pageNumbers}" class="page-item" th:classappend="${pageNumber == listingPage.number + 1} ? 'active'">
                    <a class="page-link" th:href="@{/mylistings(size=${listingPage.size}, page=${pageNumber})}" th:text="${pageNumber}">Page Number</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="div1" th:if="${listingPage.content.isEmpty()}">
        <h1>You have not posted any listings yet!</h1>
    </div>


    <script src="/javaScript/myListings.js"></script>

</body>
</html>
