<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Profile</title>
    <link rel="stylesheet" th:href="@{/css/otherUser.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/navbar.css}" type="text/css">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap}" />

</head>
<body>
<div th:replace="fragments/navbar :: navbarDiv"></div>
<div class="user_body">
    <div class="user_left_side">
        <div class="user_info">
            <span>Username:</span> <h2 th:text="${username}" style="display: inline;">Username</h2>
            <hr>
            <span>Rating:</span> <span th:text="${rating}">Rating Value</span>
            <hr>

            <p>Premium Member: <span th:text="${premium ? 'Yes' : 'No'}"></span></p>
            <hr>

            <button id="send_msg" class="send_msg">Send a Message</button>
        </div>
    </div>

    <div class="user_right_side">
        <h3>User's Listings</h3>
        <div><!-- th:each="listing : ${user.listings}"-->
            <div class="listing">
                <h4> <!--th:text="${listing.title}">-->Listing Title</h4>
                <p> <!--th:text="${listing.description}">-->Description</p>
                <!--ovde ce ic slika jos kako vec to ide...-->
            </div>
        </div>
    </div>
</div>
</body>
</html>
