<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/navbar.css}" type="text/css">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap}" />
    <title>Recover Password</title>
</head>
<body class="logreg_body">
<div th:replace="~{fragments/navbarNotLoggedIn :: navbarDiv}"></div>
<div id="form-div">
    <p>Enter your email address, click 'Send', and we will send you a link to reset your password.</p>
    <div th:if="${alert}" class="alert">
        <p class="alert_login" th:text="${alert}"></p>
    </div>
    <div th:if="${alert2}" class="alert2">
        <p class="alert_login2" th:text="${alert2}"></p>
    </div>

    <form action="../recoverPassword" method="POST">
        <label for="email">E-mail<span class="required">*</span>:</label>
        <input type="email" id="email" name="email" placeholder="Enter your e-mail" required>
        <input type="submit" value="Send">
    </form>
</div>
</body>
</html>