<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{css/user.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/navbar.css}" type="text/css">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap}" />
    <title>User</title>
    <script>
        function hideUserInfo() {
            var element1 = document.getElementsByClassName('div1')[0];
            var element2 = document.getElementsByClassName('div2')[0];
            element1.style.display = "none"
            element2.style.display = ""
        }
        function hidePassChange() {
            var element1 = document.getElementsByClassName('div1')[0];
            var element2 = document.getElementsByClassName('div2')[0];
            element1.style.display = ""
            element2.style.display = "none"
        }

        function checkPass(){
            var password = document.getElementById('old_password').value;
            var password2 = document.getElementById('old_password2').value;

            var password3 = document.getElementById('new_pass').value;
            var password4 = document.getElementById('new_pass2').value;

            if (password2 != password)
            {
                alert('Current password is wrong!');
                return false;
            }
            if (password3 != password4)
            {
                alert('New password does not match!');
                return false;
            }
            return true;
        }s
       function change1() {
            document.getElementById("button1").classList.add("activeButton");
            document.getElementById("button1").classList.remove("normalButton");

            document.getElementById("button2").classList.add("normalButton");
            document.getElementById("button2").classList.remove("activeButton");
       }

       function change2() {
            document.getElementById("button2").classList.add("activeButton");
            document.getElementById("button2").classList.remove("normalButton");

            document.getElementById("button1").classList.add("normalButton");
            document.getElementById("button1").classList.remove("activeButton");
       }



    </script>
    <style>

    </style>
</head>
<body class="user_body" onload="hidePassChange(); change2();">
    <div th:replace="fragments/navbar :: navbarDiv"></div>


    <div class="user_left_side">
        <p>Username: <span th:text="${username}"></span></p>
        <button id="button1" onclick="hideUserInfo(); change1();" class="pass_btn">Change password</button>
        <button id="button2" onclick="hidePassChange(); change2();" class="pass_btn1">Change user information</button>

        <hr>
        <h4>Your CarPazar rating: 5.0</h4>
        <!--Ovdi bi tribalo ic 5 praznih zvjezdica koje su popunjene onoliko koliki je rating ako je to moguce // ili laksa verzija samo broj npr 3.7-->
        <hr>

        <h4 class="prem_prof_h">Premium profile enhances visibility of your listings.</h4>
        <button id="prem_prof" class="prem_prof">Buy Premium Profile</button>
        <hr>

        <h4>My Listings</h4>
        <ul>
            <li><a class="user_a" href="#">All Listings</a></li>
            <li><a class="user_a" href="#">Active Listings</a></li>
            <li><a class="user_a" href="#">Inactive Listings</a></li>
        </ul>
        <hr>
        <h4>My Messages</h4>
        <ul>
            <li><a class="user_a" href="#">Sent Messages</a></li>
            <li><a class="user_a" href="#">Unread Messages</a></li>
            <li><a class="user_a" href="#">Notifications</a></li>
        </ul>
        <hr>
        <button id="us_but" class="us_but">User Support</button> <!--button koji otvara chat sa adminon?-->


    </div>


    <div class="user_right_side">
        <form action="/user/update" method="post" class="div1">
            <div class="container">
                <h1 class="ch_pass">User Information</h1>
            </div>
            <label for="firstName">First name:</label>
            <input type="text" id="firstName" name="firstName" th:value="${userDTO.firstName}" required><br>

            <label for="surname">Last name:</label>
            <input type="text" id="surname" name="surname" th:value="${userDTO.surname}" required><br>

            <label for="birthDate">Date of birth:</label>
            <input type="date" id="birthDate" name="birthDate" th:value="${userDTO.birthDate}" required><br>

            <label for="phoneNumber">Phone number:</label>
            <select id="phonePrefix" name="phonePrefix" required>
                <option value="+385">+385</option>
            </select>
            <input type="tel" id="phoneNumber" name="phoneNumber" th:placeholder="${userDTO.phoneNumber}" minlength="9"><br>

            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" th:value="${userDTO.email}" required><br>

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" th:value="${userDTO.username}" required><br>

            <div class="container">
                <button type="submit" class="submit1">Submit</button>
            </div>
        </form>


        <form action="pass change" method="post" class="div2">
            <div class="container">
                <h1 class="ch_pass">Change Your Password</h1>
            </div>

            <label for="old_password">Current Password<span class="required"></span>:</label>
            <input type="password" id="old_password" name="old_password" placeholder="Current password" required minlength="8">

            <label for="old_password2">Confirm password<span class="required"></span>:</label>
            <input type="password" id="old_password2" name="old_password2" placeholder="Repeat password" required>

            <label for="new_pass">New Password<span class="required"></span>:</label>
            <input type="password" id="new_pass" name="new_pass" placeholder="Create a new password" required minlength="8">

            <label for="new_pass2">Confirm New Password<span class="required"></span>:</label>
            <input type="password" id="new_pass2" name="new_pass2" placeholder="Repeat password" required>

            <div class="container">
                <button type="submit" class="submit1">Submit</button>
            </div>
        </form>

    </div>

</body>
</html>