<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/user.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/navbar.css}" type="text/css">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap}" />
    <title>User</title>
</head>
<body class="user_body" onload="hidePassChange(); change2();">
    <div th:replace="~{fragments/navbar :: navbarDiv}"></div>


    <div class="user_left_side">
        <p>Username: <span th:text="${username}"></span></p>
        <button id="button1" onclick="hideUserInfo(); change1();" class="pass_btn">Change password</button>
        <button id="button2" onclick="hidePassChange(); change2();" class="pass_btn1">Change user information</button>

        <hr>
        <div th:if="${admin == true ? true : false}">
            <a href="../adminPanel">
                <button id="admin" class="us_but">Admin Panel</button>
            </a>
        </div>

        <hr>

        <div th:if="${admin == false ? true : false}">
            <h4 class="prem_prof_h" th:if="${premium == false ? true : false}">Premium profile enhances visibility of your listings.</h4>
            <form action="../premiumRequest" method="post" th:if="${premium == false ? true : false}">
                <button type="submit" id="prem_prof" class="prem_prof">Buy Premium Profile</button>
            </form>

            <h3 class="premium" th:if="${premium != false ? true : false}">Premium Account</h3>
            <hr>

            <a href="../mylistings"><button id="listings" class="us_but">My Listings</button></a>
            <hr>
            <p id="us_text" class="us_text">For any inquiries or support, please contact us via email at <a href="mailto:carpazarmail@gmail.com">carpazarmail@gmail.com</a>.</p>

        </div>
        <a href="../myMessages"><button id="msg" class="us_but">My Messages</button></a>

    </div>


    <div class="user_right_side">
        <form action="/user/update" method="post" id="div1" class="div1">
            <div class="container">
                <h1 class="ch_pass">User Information</h1>
            </div>
            <label for="firstName">First name:</label>
            <input type="text" id="firstName" name="firstName" th:value="${userDTO.firstName}" required><br>

            <label for="surname">Last name:</label>
            <input type="text" id="surname" name="surname" th:value="${userDTO.surname}" required><br>

            <label for="birthDate">Date of birth:</label>
            <input type="date" id="birthDate" name="birthDate" th:value="${userDTO.birthDate}" required><br>

            <label for="phoneNumber">Phone number:</label>
            <select id="phonePrefix" name="phonePrefix" required>
                <option value="+385">+385</option>
            </select>
            <input type="tel" id="phoneNumber" name="phoneNumber" th:value="${userDTO.phoneNumber}" minlength="9" required><br>

            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" th:value="${userDTO.email}" required><br>

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" th:value="${userDTO.username}" required><br>

            <div class="container">
                <button type="submit" class="submit1">Submit</button>
            </div>
        </form>


        <form action="/user/passwordChange" method="post" id='div2' class="div2" onsubmit="return checkPass()">
            <div class="container">
                <h1 class="ch_pass">Change Your Password</h1>
            </div>
            <div th:if="${alert}" class="alert">
                <p class="alert_login" th:text="${alert}"></p>
            </div>
            <div id="newPasswordError" class="error-message"></div>
            <div id="samePasswordError" class="error-message"></div>

            <label for="old_password">Current Password<span class="required"></span>:</label>
            <input type="password" id="old_password" name="old_password" placeholder="Current password" required minlength="8">

            <label for="new_pass">New Password<span class="required"></span>:</label>
            <input type="password" id="new_pass" name="new_pass" placeholder="Create a new password" required minlength="8">

            <label for="new_pass2">Confirm New Password<span class="required"></span>:</label>
            <input type="password" id="new_pass2" name="new_pass2" placeholder="Repeat password" required>

            <div class="container">
                <button type="submit" class="submit1">Submit</button>
            </div>
        </form>

    </div>
    <script th:src="@{/javaScript/user.js}"></script>
</body>
</html>