.admin_body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 10vh;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    color: #4CAF50;
    text-align: center;
    margin-bottom: 20px;
}

div.navbar, .users-table {
    margin-bottom: 20px;
}

.users-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.users-table th, .users-table td {
    padding: 10px;
    text-align: left;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.users-table thead {
    background-color: #1c5b9e;
    color: #ffffff;
}

.users-table tbody tr:nth-child(odd) {
    background-color: #f4f4f4;
}

.users-table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.users-table tbody tr:hover {
    background-color: #e8e8e8;
}

@media screen and (max-width: 768px) {
    .users-table, .users-table tbody, .users-table tr, .users-table td {
        display: block;
        width: 100%;
    }

    .users-table tr {
        margin-bottom: 10px;
    }

    .users-table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .users-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        text-align: left;
        font-weight: bold;
    }
}

h3{
    color:#1c5b9e;
    margin-top: 60px;
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}

.edit-button {
    background-color: #1c5b9e;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

.edit-button:hover {
    background-color: #08203b;
}

  .delete-button {
        background-color: #d9230f;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        }

.delete-button:hover {
        background-color: #5e0e06;
        }

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: darkred;
}

.close-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.close-button:hover {
    background-color: darkblue;
}

.pass_btn, input[type="submit"] {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
}

.pass_btn-container {
    display: flex;
    justify-content: center;
}
.pass_btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1rem;
    transition: background-color 0.3s;

}

.pass_btn1, input[type="submit"] {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
}

.pass_btn1-container {
    display: flex;
    justify-content: center;
}
.pass_btn1 {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.normalButton {

  color:white;
  background-color: blue;
  font-size: 1rem;
  border: solid;
  border-color:blue;
  border-radius: 5px;
   margin-top: 10px;
  padding: 10px 15px;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.activeButton {
  color:blue;
  background-color: white;
  font-size: 1rem;
  border: solid;
  border-radius: 5px;
   margin-top: 10px;
  padding: 10px 15px;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.normalButton:hover{
    background-color:#2823c2;
}

.activeButton:hover{
    background-color:#c4c7ff;
}