body {
    font-family: 'Monaco', monospace;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 7vh;
    display: flex;
    height: 100%;
    background-image: url('../images/cartoon.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    overflow-y: auto;
}

.filter-bar {
    margin-top:30px;
    width: 21%;
    padding: 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 192vh;
}

.right_side {
    margin-top:20px !important;
    padding-top:20px !important;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    height: 175vh;

}

.listings_right_side {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.premium_listing {
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.premium_listing_container, .listing_container {
    width: 80%;
    display: block !important;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.listing_container {
    border: 2px solid #000000;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    width: 700px;
    max-width: 700px;
    box-sizing: border-box;
    height: 170 px;
    max-height: 170 px;
    overflow: hidden;
}

.listing_details {
    padding-right: 20px;
    flex: 1;
    overflow: auto;
}

.listing_image {
    width: auto;
    margin-left: 10px;
}

.listing_image_img {
    width: auto;
    height: auto;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.listing_container:not(:last-child) {
    margin-bottom: 20px;
}

.intro-container {
    margin: 70px;
    text-align: center;
}

.premium_listing_container {
    border: 5px solid #FFD700;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    width: 700px;
    max-width: 700px;
    box-sizing: border-box;
    height: 170 px;
    max-height: 170 px;
    overflow: hidden;
    background-color:#fefae2;
}

.listing_details {
    padding-right: 20px;
    width: 280px;
    max-width: 280px;
    float:left;
    flex: 1;
    overflow: hidden;
}

.listing_image {
    width: 360px;
    max-width: 360px;
    height: 150px;
    max-height: 150px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-left: 10px;
    flex-shrink: 0;
    float:right;
}

.listing_image_img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain !important;
}

.listing_details > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.premium_listing_details > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pagination {
        display: flex;
        justify-content: center;
        padding-left: 0;
        list-style: none;
        }

.pagination .page-item {
            display: inline;
        }

.pagination .page-link {
            border: 1px solid #007bff;
            padding: 5px 10px;
            margin-left: 5px;
            text-decoration: none;
            color: #007bff;
            background-color: white;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
        }

.pagination .page-link:hover {
            color: white;
            background-color: #007bff;
        }

.pagination .active .page-link {
            color: white;
            background-color: #007bff;
        }

.sort-dropdown {
    text-align: center;
    margin: 20px 0;
}

#sort {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


#sort option {
    background-color: #fff;
    color: #000;
}

a {
    text-decoration: none;
}
.button{
     background-color: #1A6CE3;
     text-decoration: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border: 1px solid white;
        border-radius: 4px;
        transition-duration: 0.4s;
}
.button:hover {
    background-color: #1A53CF;
}

input[type="number"] {
    width:40%;
}

select {
    width: 50%;
}

input[type=submit], button {
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    flex: 1;
}

input[type=submit] {
    background-color: #0056b3;
    color: white;
}

input[type=submit]:hover {
    background-color: #003d82;
}

.page-item {
    width: 48px;

}

.paging-btn {
    background-color: transparent;
}

.div1 {
	background-color:white;
	margin:auto;
	margin-top:100px;
	padding:20px;
	width:60%;
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius:10px;
	align-items:center;
	align-text:center;
	display:flex;
	justify-content:center;

}
.div1 h1 {
	font-size:2em;
	color:#333;
	align-text:center;
}