body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.listings_right_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 100%;
}

.listing_container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    width: 50%;
    box-sizing: border-box;
    height: 170 px;
    max-height: 170 px;
    overflow: hidden;
}

.listing_details {
    padding-right: 20px;
    flex: 1;
    overflow: auto;
}

.listing_image {
    width: auto;
    margin-left: 10px;
}

.listing_image_img {
    width: auto;
    height: auto;
}
ul {
    list-style-type: none;
    padding: 0;
}

.intro-container {
    margin: 70px;
    text-align: center;
}
.premium_listing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 100%;

}

.premium_listing_container {
    border: 2px solid #FFD700;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    width: 50%;
    box-sizing: border-box;
    height: 170 px;
    max-height: 170 px;
    overflow: hidden;
}

.listing_details {
    padding-right: 20px;
    flex: 1;
    overflow: hidden;
}

.listing_image {
    width: 400px;
    max-width: 400px;
    height: 150px;
    max-height: 150px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-left: 10px;
    flex-shrink: 0;
}

.listing_image_img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain !important;
}

.listing_details > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.premium_listing_details > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

