body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: red;
    display: flex;
    justify-content: center;
    height: 100vh;
    padding-top:7vh;
    background-image: url('../images/cartoon.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.chat-container {
    width: 80%;
    max-width: 600px;
    margin: auto;
    background: white;
}

.chat-header {
    background: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
}

.chat-messages {
    height: 400px;
    overflow-y: auto;
    padding: 15px;
    background: #e9ecef;
    border: 1px solid black;
}

.chat-messages ul {
    list-style: none;
    padding: 0;
}

.chat-messages .message {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
}

.message-right {
    background-color: #007bff;
    color: white;
    margin-left: auto;
    text-align: right;
}

.message-left {
    background-color: #f1f1f1;
    margin-right: auto;
    text-align: left;
}

.message-content {
    margin-bottom: 5px;
}

.message-time {
    font-size: 0.8em;
    color: #555;
}

.chat-input {
    border-top: 1px solid #ddd;
    padding: 10px;
}

.chat-input form {
    display: flex;
}

.chat-input input[type=text] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.chat-input button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #0056b3;
}
.message-right {
    background-color: #3FA3EF;
    color: white;
    text-align: right;
    position: relative;
}

.message-left {
    background-color: #D9E6EF;
    color: black;
    text-align: left;
}
.timestampR {
    font-size: 0.5em;
    display: block;
    text-align: right;
    margin-top: 3px;
}
.timestampL {
    font-size: 0.5em;
    display: block;
    text-align: left;
    margin-top: 3px;
}
.yellow-text {
    color: yellow;
}

.no-underline {
    text-decoration: none;
}