.home_body{
    padding-top:5vh;
}
.image-container{
    text-align: center;
    margin-top: 10px;
}
.image-container img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

button{
    display: block;
    margin: auto;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    background-color:turquoise;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    transition: all 0.3s ease;

}
button:hover{
    background-color: rgb(47, 159, 148);

}
