.home_body{
    padding-top:5vh;
}
.image-container{
    text-align: center;
    margin-top: 10px;
}
.image-container img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.post-button{
    display: block;
    margin: auto;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    background-color:turquoise;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    transition: all 0.3s ease;

}
.post-button:hover{
    background-color: rgb(47, 159, 148);

}
.search-container{

    width: 100%;
    min-height: 100vh;
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    display: flex;
    align-items: center;
    border: 2px solid #3498db;
    border-radius: 10px;
    overflow: hidden;
    max-width: 400px;

}

input[type="text"] {
    flex: 1;
    padding: 0.5rem;
    font-size: 1rem;
    margin-right: 10px;
    border:none;
    overflow: hidden;
}

.search-button{
    cursor: pointer;
    margin-right: 5px;
    border:none;
}