body {
    font-family: 'Monaco', monospace;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 7vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url('../images/cartoon.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    overflow-y: auto;
}

.a {
    width: 55%;
    margin: 0 auto;
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 300px;
}


.b {
    padding: 15px;
}

.c {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.c .title {
    color: #007bff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

.c p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}
.listing_image {
    width: 100%;
    height: 100%;
}

.listing_image_img {
    width: 100%;
    height: 100%;
}
.search-container {
    width: 100%;
    padding-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 2px solid #3498db;
    border-radius: 10px;
    overflow: hidden;
    width: 800px;
}

input[type="text"] {
    flex: 1;
    padding: 0.5rem;
    font-size: 1rem;
    margin-right: 10px;
    border: none;
    overflow: hidden;
}

.search-button {
    cursor: pointer;
    margin-right: 5px;
    border: none;
}

h1 {
    font-size: 2em;
    color: #333;
    text-align: center;
}

.div1 {
    background-color: rgba(255, 255, 255, 0.8);
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    text-align: center;
}
.post-button {
    background-color: #1A6CE3;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 4px;
    transition-duration: 0.4s;
    width:230px;
}

.post-button:hover {
    background-color: #1A53CF;
}

.button{
     background-color: #1A6CE3;
     text-decoration: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border: 1px solid white;
        border-radius: 4px;
        transition-duration: 0.4s;
}
.button:hover {
    background-color: #1A53CF;
}

a {
    color: white;
    text-decoration: none;
    font-size: 7px;
    font-weight: 400;
}