body {
    margin: 0;
    padding: 0;
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    background-image: url("../images/background-cars.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    background-image: url("../images/background-cars.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.listing-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 60px;
    z-index: 1;
    position: relative;
}

.listing-img {
    width: 100%;
    object-fit: cover;
}

.listing-desc {
    text-align: center;
    width: 40%;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 10px;
}

.listing-desc p:last-child {
    color:#168118;
}

.listing-desc h2 {
    margin-bottom: 10px;
}

.listing-specs {
    text-align: left;
    margin-top: 20px;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 10px;
}

.listing-specs h3 {
    margin-bottom: 10px;
}

.listing-specs ul {
    list-style: none;
    padding: 0;
}

.listing-specs li {
    margin-bottom: 10px;
}

.listing-specs table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.listing-specs td {
    border: 2px solid #000000;
    padding: 8px;
    text-align: left;
}

.listing-specs th {
    background-color: #f2f2f2;
}

.listing-desc p {
    border: 2px solid #000000;
    padding: 8px;
    margin: 0;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.number-box-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.number-box {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #ddd;
    margin: 0 5px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.active-number-box {
    background-color: #007bff;
}
