body {
    font-family: 'Monaco', monospace;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 7vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url('../images/cartoon.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    overflow-y: auto;
}

.listing-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 60px;
    z-index: 1;
    position: relative;
    max-width: 1200px; /* Adjust width as needed */
    margin: auto;
}

/* Carousel Slide */
.carousel_slide {
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    margin-bottom: 20px;
}

/* Carousel Inner */
.carousel-inner {
    position: relative;
    width: 100%;
    height: auto; /* Adjust height as needed */
}

.image-container {
    background-color: #000;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.listing-desc {
    text-align: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    margin-top: 20px;
}

.listing-desc p:last-child {
    color: #168118;
}

.listing-specs {
    text-align: left;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    margin-top: 20px;
}

.listing-specs table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.listing-specs th, .listing-specs td {
    border: 2px solid #000000;
    padding: 8px;
    text-align: left;
}

.listing-specs th {
    background-color: #f2f2f2;
}
.listing-specs h3 {
    text-align: center;
}

.listing-specs table tr:nth-child(even) {
    background-color: #d3d3d3; /* Grey background color for every second row */
}

.listing-specs td {
    padding: 8px;
    text-align: left;
    border: 2px solid #000000;
}