body {
	font-family:'Monaco',monospace;
	color:#333;
	line-height:1.6;
	margin:0;
	padding:7vh;
	display:flex;
	height:100%;
	background-image:url('../images/cartoon.png');
	background-repeat:no-repeat;
	background-size:cover;
	overflow:hidden;
	overflow-y:auto;
}
.button_seller{
     background-color: #1A6CE3;
     text-decoration: none;
        color: white !important;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border: 1px solid white;
        border-radius: 4px;
        transition-duration: 0.4s;
}
.button_seller:hover {
    background-color: #1A53CF;
}
.a {
	width:80%;
	margin:0 auto;
	padding:20px;
}
ul {
	list-style:none;
	padding:0;
}
li {
	background-color:#fff;
	border:1px solid #ddd;
	margin-bottom:10px;
	border-radius:5px;
	box-shadow:0 2px 4px rgba(0,0,0,0.1);
}
.b {
	padding:15px;
}
.c {
	border-bottom:1px solid #eee;
	padding-bottom:10px;
	margin-bottom:10px;
}
.c a {
	color:#007bff;
	text-decoration:none;
	font-size:18px;
	font-weight:700;
}
.c a:hover {
	text-decoration:underline;
}
.c p {
	margin:5px 0;
	font-size:14px;
	color:#666;
}
.listing_image {
	width:30%;
}
.listing_image_img {
	width:100%;
	height:auto;
}
.div1 {
	background-color:white;
	margin:auto;
	margin-top:100px;
	padding:20px;
	text-align:center;
	width:60%;
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius:10px;
}
h1 {
	font-size:2em;
	text-align:center;
	color:#333;
}
.delete-button {
	background-color:#d9230f;
	color:white;
	padding:10px 15px;
	border:none;
	border-radius:5px;
	cursor:pointer;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size:16px;
	margin:4px 2px;
	transition-duration:0.4s;
}
.delete-button:hover {
	background-color:#5e0e06;
}
.modal {
     display: flex;
     position: fixed;
     z-index: 1;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgba(0,0,0,0.4);
     align-items: center;
     justify-content: center;
 }

 .modal-content {
     background-color: #ffffff;
     padding: 20px;
     border: 1px solid #888;
     width: 30%;
     text-align: center;
     margin: auto;
 }
.close-button {
	background-color:blue;
	color:white;
	border:none;
	padding:10px 20px;
	border-radius:5px;
	font-size:16px;
	cursor:pointer;
}
.close-button:hover {
	background-color:darkblue;
}
.pagination {
	display:flex;
	justify-content:center;
	padding-left:0;
	list-style:none;
}
.pagination .page-item {
	display:inline;
	background-color: transparent;
	border: none;
}
.pagination .page-link {
	border:1px solid #007bff;
	padding:5px 10px;
	margin-left:5px;
	text-decoration:none;
	color:#007bff;
	background-color: white;
	border-radius:5px;
	transition:background-color 0.3s,color 0.3s;
}
.pagination .page-link:hover {
	color:white;
	background-color:#007bff;
}
.pagination .active .page-link {
	color:white;
	background-color:#007bff;
}
.edit-button {
	background-color:#2FCB22;
	color:white;
	padding:10px 15px;
	border:none;
	border-radius:5px;
	cursor:pointer;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size:16px;
	margin:4px 2px;
	transition-duration:0.4s;
}
.edit-button:hover {
	background-color:#248D1B;
}
