body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    text-align: center;
    width: 50vw;
    font-size: 2vh;
    margin: 5vh 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


label {
    margin-bottom: 5px;
}

input[type="text"], input[type="number"], select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    width: 35vw;
}

#engine-power{
    width: 30vw !important;
    margin-right: 0.5vw;
}

#power-unit{
    width: 4.5vw;
}

input[type="checkbox"] {
    margin-left: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}

button[type="button"] {
    background-color: #4CAF50;
}

button[type="submit"] {
    background-color: #3498db;
}

button:hover {
    opacity: 0.8;
}

#additional-checkboxes, #additional-optional {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


#additional-checkboxes label, #additional-optional label {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

#additional-checkboxes span{
    margin-right: 2vw;
}

article {
    display: inline-block !important;
    vertical-align: top !important;
    width: 48% !important;
    margin: 0 0.5% !important;
    text-align: left !important;
}

#back-button{
    float: left;
}
#next-button{
    float: right;
}

