
.user_body{
    padding-top:7vh;
    text-decoration:none;
}

.user_left_side{
        background-color:#1c0c52;
        width:25%;
        float:left;
        display:block;
        justify-content:center;
        align-items:center;
        outline: 2px solid purple;
        border-radius: 10px;
        transition: background-color 0.3s ease;
        text-decoration:none;
}

.user_right_side{
        background-color:white;
        width:74%;
        float:right;
        display:flex;
        justify-content:center;
        align-items:center;
        outline: 2px solid grey;
        border-radius: 10px;
        transition: background-color 0.3s ease;
        text-decoration:none;
        color:white;
        height:100vh;
}

.div1{

     background-color:#1c0c52;
     width:50%;
     float:left;
     display:block;
     justify-content:center;
     align-items:center;
     outline: 2px solid purple;
     border-radius: 10px;
     transition: background-color 0.3s ease;
     text-decoration:none;
     flex-direction: column;
     color:white;
     height:100vh;
}

.div2{
     background-color:#1c0c52;
     width:50%;
     float:right;
     display:block;
     justify-content:center;
     align-items:center;
     outline: 2px solid green;
     border-radius: 10px;
     transition: background-color 0.3s ease;
     text-decoration:none;
     flex-direction: column;
     color:white;
     height:100vh;
}

.user_a {
    text-decoration: none;
    font-size:1.5em
}


h4{
    font-family: 'Tahoma', sans-serif;
    font-size: 26px;
    line-height: 1.6;
    text-align:center;
    color:white;
}

ul {
    list-style: none;
    padding-left:50px;
    display: flex;
    flex-direction: column;
    text-decoration:none;
}

hr{
    color:white;
}

.user_left_side > ul > li{
    list-style-type: disc;
    color: white;
    margin-right: 8px;
    text-decoration:none;
}

.user_left_side > ul > li > a{
    color:white;
    text-decoration:none;
}

.user_left_side > ul > li > a:hover{
    color:#ad70db;
    background-color:#1c0c52;
    text-decoration:none;
}



