.user_body {
	font-family:'Monaco',monospace;
	color:#333;
	line-height:1.6;
	margin:0;
	padding:7vh;
	display:flex;
	height:100%;
	background-image:url('../images/cartoon.png');
	background-repeat:no-repeat;
	background-size:cover;
	overflow:hidden;
	overflow-y:auto;
}
.user_left_side {
	width:21%;
	padding:15px;
	background-color:rgba(255,255,255,0.95);
	box-shadow:0 2px 5px rgba(0,0,0,0.1);
	border-right:1px solid rgba(0,0,0,0.1);
	height:100vh;
	overflow-y:auto;
}
.user_right_side {
	flex-grow:1;
	display:flex;
	justify-content:center;
	align-items:center;
}
.user_right_side > .div1 {
	width:100%;
	max-width:400px;
	padding:20px;
	background-color:rgba(255,255,255,0.9);
	box-shadow:0 2px 5px rgba(0,0,0,0.1);
	border-radius:10px;
}
.user_right_side > .div2 {
	width:100%;
	max-width:400px;
	padding:20px;
	background-color:rgba(255,255,255,0.9);
	box-shadow:0 2px 5px rgba(0,0,0,0.1);
	border-radius:10px;
}
.user_left_side h4 {
	color:#0275d8;
}
.user_left_side > .prem_prof_h {
	color:purple;
}
.user_a {
	color:#333;
	text-decoration:none;
	display:block;
	padding:8px 0;
}
.user_a:hover {
	background-color:rgba(0,0,0,0.05);
}
ul {
	list-style:none;
	padding:0;
	margin-top:0px;
}
li {
	margin-bottom:5px;
}
.div1,.div2 {
	margin-bottom:20px;
}
label {
	display:block;
	margin-bottom:5px;
}
input[type="text"],input[type="date"],input[type="tel"],input[type="email"],input[type="password"],select {
	width:100%;
	padding:8px;
	margin-bottom:20px;
	border:1px solid #ddd;
	border-radius:4px;
}
input[type="submit"] {
	background-color:#0275d8;
	color:white;
	padding:10px 15px;
	border:none;
	border-radius:4px;
	cursor:pointer;
}
input[type="submit"]:hover {
	background-color:#0256c2;
}
hr {
	margin-top:20px;
	margin-bottom:20px;
	border:0;
	border-top:1px solid rgba(0,0,0,0.1);
}
.pass_btn,input[type="submit"] {
	background-color:blue;
	color:white;
	border:none;
	padding:10px 15px;
	margin-top:10px;
	border-radius:5px;
	cursor:pointer;
	transition:background-color 0.3s;
	font-size:1rem;
}
.pass_btn-container {
	display:flex;
	justify-content:center;
}
.pass_btn {
	background-color:blue;
	color:white;
	border:none;
	padding:10px 15px;
	border-radius:5px;
	margin-top:10px;
	font-size:1rem;
	transition:background-color 0.3s;
}
.pass_btn1,input[type="submit"] {
	background-color:blue;
	color:white;
	border:none;
	padding:10px 15px;
	margin-top:10px;
	border-radius:5px;
	cursor:pointer;
	transition:background-color 0.3s;
	font-size:1rem;
}
.pass_btn1-container {
	display:flex;
	justify-content:center;
}
.pass_btn1 {
	background-color:blue;
	color:white;
	border:none;
	padding:10px 15px;
	border-radius:5px;
	margin-top:10px;
	font-size:1rem;
	transition:background-color 0.3s;
}
.normalButton {
	color:white;
	background-color:blue;
	font-size:1rem;
	border:solid;
	border-color:blue;
	border-radius:5px;
	margin-top:10px;
	padding:10px 15px;
	font-size:1rem;
	transition:background-color 0.3s;
}
.activeButton {
	color:blue;
	background-color:white;
	font-size:1rem;
	border:solid;
	border-radius:5px;
	margin-top:10px;
	padding:10px 15px;
	font-size:1rem;
	transition:background-color 0.3s;
}
.normalButton:hover {
	background-color:#2823c2;
}
.activeButton:hover {
	background-color:#c4c7ff;
}
.container {
	display:flex;
	justify-content:center;
	align-items:center;
	height:60px;
}
.submit1 {
	color:white;
	background-color:blue;
	font-size:1rem;
	border-color:#301934;
	border:solid;
	border-radius:5px;
	margin-top:10px;
	padding:10px 15px;
	font-size:1rem;
	transition:background-color 0.3s;
}
.submit1:hover {
	background-color:#9F2B68;
	cursor:pointer;
}
.ch_pass {
	color:blue;
	font-size:24px;
}
.prem_prof {
	color:white;
	background-color:purple;
	font-size:1rem;
	border-color:#301934;
	border:solid;
	border-radius:5px;
	margin-top:10px;
	padding:10px 15px;
	font-size:1rem;
	transition:background-color 0.3s;
}
.prem_prof:hover {
	background-color:#9F2B68;
	cursor:pointer;
}
.us_but {
	color:blue;
	background-color:white;
	font-size:1rem;
	border-color:white;
	border:solid;
	border-radius:5px;
	margin-top:10px;
	padding:10px 15px;
	font-size:1rem;
	transition:background-color 0.3s;
	display:inline-block;
	margin-right:10px;
}
.us_but:hover {
	background-color:#c4c7ff;
	cursor:pointer;
}
.user_left_side + .user_listings_right_side {
	float:left;
	width:60%;
	padding:40px;
}
.user_left_side + .user_listings_right_side ul {
	list-style:none;
	padding:0;
}
.user_left_side + .user_listings_right_side li {
	margin-bottom:20px;
	border:1px solid #000000;
	padding:10px;
	background-color:#fff;
}
.user_left_side + .user_listings_right_side li p:first-child {
	font-weight:bold;
}
.user_left_side + .user_listings_right_side li p:last-child {
	font-weight:bold;
	color:#168118
}
.user_listings_right_side .listing_container {
	display:flex;
	align-items:center;
}
.user_listings_right_side .listing_image {
	width:30%;
	float:right;
}
.user_listings_right_side .listing_image_img {
	width:100%;
	max-height:100%;
	object-fit:cover;
}
.user_listings_right_side .listing_details {
	width:70%;
	padding:10px;
}
.clearfix::after {
	content:"";
	clear:both;
	display:table;
}
.error-message {
	display:flex;
	justify-content:center;
	align-items:center;
	color:red;
}
.premium {
	color:purple;
}
