<div th:fragment="navbarDiv" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="navbar">
        <div class="nav_left-section">
            <a class="nav_link" href="../home">
                Home
            </a>
            <a class="nav_link" href="../listings">
                Listings
            </a>
        </div>
        <div class="nav_center-section">
            <h1 class="nav_siteName">
                CarPazar
            </h1>
        </div>
        <div class="nav_right-section">
            <a class="nav_link" href="../user">
                Profile
            </a>
            <a class="nav_link" href="../logout">
                Logout
            </a>
        </div>
    </div>
</div>